h3(id="#{Graph}-children") #{graph}.children(id)
:markdown
    Returns the ids of all children of the #{node} with the id `u`.
    The id `null` can be used to get immediate children of the root #{graph}.

    If `u` is not in this #{graph} this function will throw an `Error`.

    ```js
    #{graph}.children(null);
    // => []

    #{graph}.addNode(1);
    #{graph}.children(null);
    // => [ 1 ]

    g.addNode("sg1");
    g.children(null);
    // => [ 1, "sg1" ]

    g.parent(1, "sg1");
    g.children(null);
    // => [ "sg1" ]]
    g.children("sg1");
    // => [ 1 ]
    ```
