h3(id="#{Graph}-predecessors") #{graph}.predecessors(u)
:markdown
    Returns the ids of all nodes that are predecessors of the node with the id
    `u`. If `u` is not a member of this #{graph} this function throws an `Error`.

    ```js
    #{graph}.addNode(1);
    #{graph}.addNode(2);
    #{graph}.addEdge(null, 1, 2);

    #{graph}.predecessors(1);
    // => []

    #{graph}.predecessors(2);
    // => [1]
    ```

