h3(id="#{Graph}-outEdges") #{graph}.outEdges(source, [target])
:markdown
    Returns an array of ids for all edges in this #{graph} that have the node
    identified by `source` as their source. If the node `source` is not in this #{graph}
    this function raises an `Error`.

    Optionally a node identified by `target` can be specified. This causes the
    results to be filtered such that only edges pointing from `source` to
    `target` are included. If the node `target` is specified but is not in this #{graph}
    then this function raises an `Error`.

    ```js
    #{graph}.addNode(1);
    #{graph}.addNode(2);
    #{graph}.addNode(3);
    #{graph}.addEdge("A", 1, 2);
    #{graph}.addEdge("B", 2, 3);
    #{graph}.addEdge("C", 3, 1);
    #{graph}.addEdge("D", 3, 2);

    #{graph}.outEdges(3);
    // => [ "C", "D" ]

    #{graph}.inEdges(3, 2);
    // => [ "D" ]
    ```

