h3(id="#{Graph}-target") #{graph}.target(e)
:markdown
    Returns the target node incident on the edge with the id `e`. If no such
    edge exists in this #{graph} this function throws an `Error`.

    ```js
    #{graph}.addNode(1);
    #{graph}.addNode(2);
    #{graph}.addEdge("A", 1, 2);
    #{graph}.target("A");
    // => 2
    ```

