h3#Graph-source #{graph}.source(e)
:markdown
    Returns the source node incident on the edge with the id `e`. If no such
    edge exists in this #{graph} this function throws an `Error`.

    ```js
    #{graph}.addNode(1);
    #{graph}.addNode(2);
    #{graph}.addEdge("A", 1, 2);
    #{graph}.source("A");
    // => 1
    ```

