h3(id="#{Graph}-hasNode") #{graph}.hasNode(u)
:markdown
    Returns `true` if the node with the id `u` is a member of this #{graph} and
    `false` if not.

    ```js
    #{graph}.hasNode(1);
    // => false

    #{graph}.addNode(1);
    #{graph}.hasNode(1);
    // => true
    ```
