h3(id="#{Graph}-edges") #{graph}.edges()
:markdown
    Returns the ids of all edges in this #{graph}. Use
    [`#{graph}.edge(e)`](##{Graph}-edge) to get the value for a specific edge.

    ```js
    #{graph}.addNode(1);
    #{graph}.addNode(2);
    #{graph}.addEdge("A", 1, 2);
    #{graph}.addEdge("B", 1, 2);
    #{graph}.edges();
    // => ["A", "B"]
    ```
    
