h3(id="#{Graph}-eachEdge") #{graph}.eachEdge(f)
:markdown
    Applies the function `f(e, u, v, value)` to each edge in the #{graph} in
    arbitrary order, where `e` is the edge's id, `u` and `v` are the incident
    node ids, and `value` it the value assigned to the edge.

    ```js
    #{graph}.addNode(1);
    #{graph}.addNode(2);
    #{graph}.addEdge("A", 1, 2, "A-label");
    #{graph}.addEdge("B", 2, 1, "B-label");

    var results = {};
    #{graph}.eachEdge(function(e, u, v, label) {
        results[e] = "U: " + u + " V: " + v + " L: " + label;
    });

    results
    // => { "A": "U: 1 V: 2 L: A-label",
    //      "B": "U: 2 V: 1 L: B-label" }
    ```

