h3(id="#{Graph}-eachNode") #{graph}.eachNode(f)
:markdown
    Applies the function `f(u, value)` to each node in this #{graph} in
    arbitrary order, where `u` is the id of the node and `value` is its
    currently assigned value.

    ```js
    #{graph}.addNode(1, "label-1");
    #{graph}.addNode(2, "label-2");

    var results = {};
    #{graph}.eachNode(function(u, value) {
        results[u] = value;
    });

    results
    // => { "1": "label-1", "2": "label-2" }
    ```

