h3(id="#{Graph}-order") #{graph}.order()
:markdown
    Returns the number of nodes in this #{graph}. For example:

    ```js
    #{graph}.order();
    // => 0

    #{graph}.addNode(1);
    #{graph}.addNode(2);

    #{graph}.order();
    // => 2
    ```

