h3(id="#{Graph}-addNode") #{graph}.addNode(u, [value])
:markdown
    Adds a new node with the id `u` to this #{graph}. The node `u` is assigned
    the value of `value` if it is specified. Otherwise it defaults to the value
    `undefined`. If `u` is `null` then a unique id is assigned to the node and
    returned by this function. If a node with the id `u` is already a member of
    this #{graph} this function throws an `Error`.

    After the node has been added, its value can be read and updated using
    [#{graph}.node(u, [value])](##{Graph}-node).
