h3(id="#{Graph}-hasEdge") #{graph}.hasEdge(e)
:markdown
    Returns `true` if an edge with the id `e` exists in this #{graph} or
    `false` if not.

    ```js
    #{graph}.hasEdge("A");
    // => false

    #{graph}.addNode(1);
    #{graph}.addNode(2);
    #{graph}.addEdge("A", 1, 2);
    #{graph}.hasEdge("A");
    // => true
    ```

