h3(id="#{Graph}-node") #{graph}.node(u, [value])
:markdown
    The `node` function provides a mechanism to get and set some user-defined
    information on an individual node. With one argument this function returns
    the value currently assigned to the node with the id `u`. With two
    arguments this function replaces the current value of the node `u` with
    `value`. The initial value for nodes is `undefined`.

    If there is no node `u` in this #{graph} this function will throw an
    `Error`.

    ```js
    #{graph}.addNode(1);
    #{graph}.node(1);
    // => undefined

    #{graph}.node(1, "Some node value");
    #{graph}.node(1);
    // => "Some node value"

    #{graph}.node(2);
    // throws an Error
    ```

