h3(id="#{Graph}-filterNodes") #{graph}.filterNodes(f)
:markdown
    Applies the function `f(u, value)` to each node in this #{graph} and returns a
    new `#{Graph}` that only includes those nodes for which `f` returns `true`.
    Edges that have both incident nodes in the new #{graph} are also copied to the
    new #{graph}.

    ```js
    function filter(u) { return u === 1 || u === 2; }

    #{graph}.addNode(1, "node-1");
    #{graph}.addNode(2, "node-2");
    #{graph}.addNode(3, "node-3");
    #{graph}.addEdge(null, 1, 2, "edge-1-2");
    #{graph}.addEdge(null, 2, 3, "edge-2-3");

    var copy = #{graph}.filterNodes(filter);
    copy.nodes();
    // => [1, 2]

    copy.node(1);
    // => "node-1"

    copy.neighbors(2);
    // => [1]
    ```

