- var graph = "cgraph", Graph = "CGraph";
- var directed = false;

h2(id="#{Graph}") #{Graph}
:markdown
    The `#{Graph}` class represents a compound [undirected][] [multigraph][].
    It differs from [`Graph`](#Graph) in that its nodes can have children.

    Subsequent examples in this section assume that `#{Graph}` has been required
    as follows:

    ```js
    var #{Graph} = require("graphlib").#{Graph};
    var #{graph} = new #{Graph}();
    ```

    [undirected]: https://en.wikipedia.org/wiki/Undirected_graph
    [multigraph]: https://en.wikipedia.org/wiki/Multigraph

include graph/Graph-constructor
include graph/CGraph-parent
include graph/CGraph-children
include graph/Graph-order
include graph/Graph-size
include graph/Graph-isDirected
include graph/Graph-graph
include graph/Graph-hasNode
include graph/Graph-node
include graph/Graph-nodes
include graph/Graph-eachNode
include graph/Graph-neighbors
include graph/Graph-hasEdge
include graph/Graph-edge
include graph/Graph-edges
include graph/Graph-eachEdge
include graph/Graph-incidentNodes
include graph/Graph-incidentEdges
include graph/Graph-addNode
include graph/Graph-delNode
include graph/Graph-addEdge
include graph/Graph-delEdge
include graph/Graph-copy
include graph/Graph-filterNodes

